<nav>
  <ul>
    <li><a routerLink="/carte" routerLinkActive="active">Produit</a></li>
    <li><a routerLink="/statBBS" routerLinkActive="active">statsBBS</a></li>
    <li><a routerLink="/statAVS" routerLinkActive="active">statsAVS</a></li>
    <li><a routerLink="/lescartes" routerLinkActive="active">Les Cartes</a></li>
    <li><a routerLink="lesDefauts" routerLinkActive="active">Les defauts</a></li>
    <li><a routerLink="/NC" routerLinkActive="active">NC</a></li>
    <!-- Autres liens de navigation -->
  </ul>
</nav>

<router-outlet></router-outlet>
